@media (min-width: 720px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    border-radius: 14px 0 0 14px;
    /* object-position: 2rem 2rem; */
  }
  .card {
    margin: auto;
  }
}
